<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/plot" value="false" />
    <add key="/nvme/1/temperature/0/plot" value="false" />
    <add key="/nvme/1/level/1/plot" value="false" />
    <add key="/nvme/1/level/2/plot" value="false" />
    <add key="/nvme/1/level/3/plot" value="false" />
    <add key="/nvme/1/data/4/plot" value="false" />
    <add key="/nvme/1/data/5/plot" value="false" />
    <add key="/nvme/1/load/0/plot" value="false" />
    <add key="/nvme/1/load/31/plot" value="false" />
    <add key="/nvme/1/load/32/plot" value="false" />
    <add key="/nvme/1/load/33/plot" value="false" />
    <add key="/nvme/1/throughput/34/plot" value="false" />
    <add key="/nvme/1/throughput/35/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/0/load/31/plot" value="false" />
    <add key="/hdd/0/load/32/plot" value="false" />
    <add key="/hdd/0/load/33/plot" value="false" />
    <add key="/hdd/0/throughput/34/plot" value="false" />
    <add key="/hdd/0/throughput/35/plot" value="false" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/data/2/plot" value="false" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/data/3/plot" value="false" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/load/1/plot" value="false" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/data/2/plot" value="false" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/data/3/plot" value="false" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/load/1/plot" value="false" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/data/2/plot" value="false" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/data/3/plot" value="false" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/load/1/plot" value="false" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/data/2/plot" value="false" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/data/3/plot" value="false" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/load/1/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/name" value="DGP.S30.4254E4-0100&#x0;" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/0/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/1/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="184" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/power/0/name" value="Charge/Discharge Rate" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/current/0/name" value="Charge/Discharge Current" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/2/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/level/0/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/voltage/0/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/current/0/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/power/0/plot" value="false" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/0/values" value="" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/1/values" value="" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/level/1/values" value="" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/level/0/values" value="H4sIAAAAAAAEAPtx2/baJ517HhEMx5x2pycwMQABiA0AOp0ZrhgAAAA=" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/voltage/0/values" value="H4sIAAAAAAAEAPtx2/baJ517HiLrAh13pycwMQDBn5WBjgAC3huCGAAAAA==" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/energy/2/values" value="H4sIAAAAAAAEAPtx2/baJ517HgyMXu670xOYGEAAyAYAl7Im8BgAAAA=" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/current/0/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/power/0/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/timespan/0/values" value="" />
    <add key="/battery/DGP.S30.4254E4-0100%00_2/temperature/0/values" value="" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/data/2/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAcP1jPBMDFAAARglDfBgAAAA=" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/data/3/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAcP1jPBMDFAAARglDfBgAAAA=" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/throughput/7/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAcP1jPBMDFAAARglDfBgAAAA=" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/throughput/8/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAcP1jPBMDFAAARglDfBgAAAA=" />
    <add key="/nic/%7B62EC8698-5CFD-4B77-9E2D-E40FEF5E30FE%7D/load/1/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAcP1jPBMDFAAARglDfBgAAAA=" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/data/2/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAEOWQwMQABQC+H9aFGAAAAA==" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/data/3/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAEOWQwMQABQC+H9aFGAAAAA==" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/throughput/7/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAEOWQwMQABQC+H9aFGAAAAA==" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/throughput/8/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAEOWQwMQABQC+H9aFGAAAAA==" />
    <add key="/nic/%7B5BB2C73F-7928-46A0-AA45-B4AD9C4BD4DD%7D/load/1/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAEOWQwMQABQC+H9aFGAAAAA==" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/data/2/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/data/3/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/throughput/7/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/throughput/8/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/nic/%7B5EDB207E-0840-4D46-B911-4A8F9DDE6E49%7D/load/1/values" value="H4sIAAAAAAAEAPtx2/baJ517HgxAsDs9gYkBCgBtykH5GAAAAA==" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/data/2/values" value="H4sIAAAAAAAEAPtx2/baJ517HqwPTG13pycwMQDBs8+mtgBhWE5eGAAAAA==" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/data/3/values" value="H4sIAAAAAAAEAPtx2/baJ517HvPX89vvTk9gYgCCqI389gB6tfR4GAAAAA==" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/throughput/7/values" value="H4sIAAAAAAAEAPtx2/baJ517Hs1lu1x3pycwMQDB6bKtrgBHXNacGAAAAA==" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/throughput/8/values" value="H4sIAAAAAAAEAPtx2/baJ517Hom1sW670xOYGIBAi/+pKwC6Mc/4GAAAAA==" />
    <add key="/nic/%7BAE008E12-846D-4FC2-8863-835E941B8537%7D/load/1/values" value="H4sIAAAAAAAEAPtx2/baJ517Hv2Md2x3pycwMYBAbb8tAN6QL+QYAAAA" />
    <add key="/nvme/1/temperature/0/values" value="" />
    <add key="/nvme/1/level/1/values" value="" />
    <add key="/nvme/1/level/2/values" value="" />
    <add key="/nvme/1/level/3/values" value="" />
    <add key="/nvme/1/data/4/values" value="" />
    <add key="/nvme/1/data/5/values" value="" />
    <add key="/nvme/1/load/0/values" value="" />
    <add key="/nvme/1/load/31/values" value="H4sIAAAAAAAEAKs/anvtk849D/93bkYBHAlMDFAAALaiygwYAAAA" />
    <add key="/nvme/1/load/32/values" value="H4sIAAAAAAAEAKs/anvtk849D4/yHP0AjgQmBigAAL9G3GEYAAAA" />
    <add key="/nvme/1/load/33/values" value="H4sIAAAAAAAEAKs/anvtk849D474E44BHAlMDEDwYu4VawDYJx8ZGAAAAA==" />
    <add key="/nvme/1/throughput/34/values" value="H4sIAAAAAAAEADPNv3btk849DwYg2CmXzMQABQAyKTGvGAAAAA==" />
    <add key="/nvme/1/throughput/35/values" value="H4sIAAAAAAAEADPNv3btk849DwYg2CmXzMQABQAyKTGvGAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/load/31/values" value="H4sIAAAAAAAEAKs/anvtk849jyfXE+wDOBKYGIBggudGOwCVLzgrGAAAAA==" />
    <add key="/hdd/0/load/32/values" value="H4sIAAAAAAAEAKs/anvtk849D65Z8fYBHAlMDECw/l2mPQDtnCjvGAAAAA==" />
    <add key="/hdd/0/load/33/values" value="H4sIAAAAAAAEAKs/anvtk849D/ZNdxwDOBKYGIBgGstLewC27PsMGAAAAA==" />
    <add key="/hdd/0/throughput/34/values" value="H4sIAAAAAAAEADPNv3btk849j1cnD3vslEtmYgCCdQnCHgDsPZ5pGAAAAA==" />
    <add key="/hdd/0/throughput/35/values" value="H4sIAAAAAAAEADPNv3btk849jzv+pz13yiUzMQDBxCX8XgALGDJ/GAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/values" value="H4sIAAAAAAAEAKs/anvtk849jwuxvC4BHAlMDEAQsIvNBQDbFBibGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/values" value="H4sIAAAAAAAEADPNv3btk849j2NBZm475ZKZGIDgzx4zNwC0lBfwGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/values" value="H4sIAAAAAAAEAKs/anvtk849j0Ua9m4BHAlMDEAAYgMA8I2T7hgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/values" value="H4sIAAAAAAAEAKs/anvtk849jzXnpO0COBKYGIBg7slKOwA2AfgsGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/values" value="H4sIAAAAAAAEAKs/anvtk849j9y58x0COBKYGIDggcAvBwBi9CQJGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_3EA5%26SUBSYS_22128086%26REV_01%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/values" value="H4sIAAAAAAAEAKs/anvtk849DwYgCOBIYGKAAgB4esqTGAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAKs/anvtk849j/N31BwDOBKYGIAgd6maIwAWgg9rGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKs/anvtk849j9KScMcAjgQmBiC4vjrcEQD/C4cCGAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAKs/anvtk849j8Ypek4BHAlMDEDQH6XnBACpISx9GAAAAA==" />
    <add key="/ram/data/2/values" value="H4sIAAAAAAAEAKs/anvtk849j5kW1o4BHAlMDEAgUmflCAAA19bWGAAAAA==" />
    <add key="/ram/data/3/values" value="H4sIAAAAAAAEAKs/anvtk849j9US0Y4BHAlMDEBgcDnaEQCLqmAmGAAAAA==" />
    <add key="/ram/load/1/values" value="H4sIAAAAAAAEAKs/anvtk849jwx/C6cAjgQmBiA4Md3cCQAmRsVBGAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PHqKjzlN2pnAxAAER6K3OgEApiicoBgAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PDT/HXeatDOBiQEIHlzd5gQA2F1XURgAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAIucuODqJ517Hpr/jjsZnUtkYgCCt9u2OQEAvSwNDhgAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PDh/H3eatDOBiQEI7t7c6gQA9RKZVRgAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PBZ5H3WatDOBiQEIlu3f7AQAjw3wgRgAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PGI6jzhN2pnAxAAEi+S2OgEAbnmekhgAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAOOQXnT1k849D4aG407NLglMDCDQcNgJAJ2OY/wYAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAOOQXnT1k849D4YDx5yaXRKYGECg4ZATANcljLIYAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PBgajjlN2pnAxAAGh5wAxQFd+xgAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAOOQXnT1k849DwaG407NLglMDGBw2AkApmXRUxgAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAOOQXnT1k849D4aG4077shOYGECg4bATAGbCgWMYAAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAPu5dOHVTzr3PBgYHOwn7UxgYgADBwcANdII1BgAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAOOQXnT1k849DwYGBvtmlwQmBjBQcAAAjApTkhgAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHvFuOzqJ517HlosJ5y2v0pgYgACbYYTTgCKoCKwGAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANvpsPjqJ517HnOKdV13RiUyMQCBmoKRKwC/UIQSGAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHvFuOzqJ517HnOKdV23v0pgYgACNQUjVwCYvmWfGAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAHvFuOzqJ517Hht333Dc/iqBiQEIuFIvOQIA+fBFIhgAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAHvFuOzqJ517HjdyVjluf5XAxAAEHkFLHQFJkybmGAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAHvFuOzqJ517Hl73fe23v0pgYgCCbXmB9gCO4dXuGAAAAA==" />
    <add key="/intelcpu/0/power/4/values" value="H4sIAAAAAAAEAHvFuOzqJ517HgxAsP1VAhMDFAAAuHNSGRgAAAA=" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEAHvFuOzqJ517HgwhKfbbXyUwMYBAX7Y9ABpjC3MYAAAA" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEAHvFuOzqJ517HgxRKfbbXyUwMYBAU7Y9AAuCYpcYAAAA" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEANPXXHb1k849Dwa7FPuiwwlMDCDwKcseANFeBqYYAAAA" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="248" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>